<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yiff.Best - User Panel</title>
    <link href="/css/topnav.css" rel="stylesheet">
    <link href="/css/panel.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div th:replace="fragments/topnav :: topnav"></div>
    <panel>
        <div id="user-info">
            <div>
                <h1>Uploads:</h1>
                <span
                    style="font-size: 1.35rem; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">
                    <span th:text="${uploadCount}"></span>
                    <a href="/user/generateConfig"><button id="downloadConfig">Download Config</button></a>
                </span>
            </div>
            <div>
                <h1>Upload Key:</h1>
                <span
                    style="font-size: 1.35rem; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">
                    <form action="/user/regenerateUploadKey" method="POST" style="display: inline;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="image" src="/assets/refresh.png" alt="refresh icon"
                            style="aspect-ratio: 1; width: 1.3em; filter: invert(1); vertical-align: middle; margin-right: 4px;">
                    </form>
                    <script>
                        function copyKey() {
                            // Get the text field
                            var copyText = document.getElementById("upload-span");

                            // Copy the text inside the text field
                            navigator.clipboard.writeText(copyText.innerText);

                            // Alert the copied text
                            alert("Copied your upload key to your clipboard");
                        }
                    </script>
                    <span class="upload-key" id="upload-span" style="border: 2px transparent;" onclick="copyKey()">
                        <span th:if="${user.getUploadKey() != null}" th:text="${user.getUploadKey()}"></span>
                        <span th:if="${user.getUploadKey() == null}">No upload key</span>
                    </span>
                </span>
            </div>
            <div>
                <h1>Invites:</h1>
                <span
                    style="font-size: 1.35rem; display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">
                    <span th:text="${user.getInviteCount()}"></span>
                    <a href="/user/manageInvites"><button id="manageInvitesButton">Manage</button></a>
                </span>
            </div>
        </div>
        <div id="addWildcardDomain" style="display: none;">
            <div class="box">
                <div style="width: 100%; height: 40%;">
                    <span>Wildcard domain setup:</span>
                </div>
                <div style="width: 100%; height: 40%; display: flex; justify-content: space-between;">
                    <input type="url" id="wildcardDomainSubdomain" style="height: 1em; margin-right: 0;">
                    <span style="margin-left: 0;">.<pre style="display: inline; margin-left: 0;" id="wildcardDomain"></pre></span>
                </div>
                <div style="width: 100%; height: 40%; display: flex; justify-content: flex-end;">
                    <button style="height: 1.5em;" onclick="document.getElementById('addWildcardDomain').setAttribute('style', 'display: none;')">Cancel</button>
                    <button style="height: 1.5em;" onclick="submitWildcard()">Add domain</button>
                </div>
            </div>
        </div>
        <div id="configs">
            <div class="configPanel" id="domainConfig">
                <div id="configHeader">
                    <pre>Domain Config</pre>
                </div>
                <div class="tidbit" id="domainSeparator">
                    <div class="domains" id="availableDomains">

                    </div>
                    <div class="domains" id="currentDomains">
                        
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                var selectedDomains = /*[[${user.getDomains()}]]*/[];
                var allDomains = /*[[${domains}]]*/[];
                var allDomainObjects = /*[[${domains}]]*/[];
                var csrf_ = /*[[${_csrf}]]*/[];
            </script>
            <script src="/js/domains.js"></script>
            <div class="configPanel" id="embedConfig">
                <pre>Embed Config</pre>
                <div>
                    <form action="/user/embedConfig" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>
                    <span id="sampleEmbed">
                        <span>
                            <h1>Title</h1>
                            <p>Description</p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </panel>
</body>

</html>